<!doctype html>
<html lang="it" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap-css/bootstrap.rtl.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Errore</title>
  </head>
  <body>
    <div class="container">
      <h3 th:text="${msg}"></h3>
      <a class="btn btn-primary" href="/">HOME</a>
    </div>
    <script th:src="@{/js/bootstrap-js/bootstrap.bundle.min.js}"></script>
  </body>
</html>